<div class="container">
  <h1>watchlist</h1>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.pollinations.ai/prompt/<%= @list.name %>-movie);">
    <div class="container">
      <h1><%= @list.name%></h1>
      <p>This is such an awesome movie list 🥳. You're so amazing! Well done.</p>
      <%= link_to "Add Bookmarks", new_list_bookmark_path(@list), class: "btn btn-success mt-1 mb-5"  %>
      <%= link_to "Return Home", root_path, class: "btn btn-secondary mt-1 mb-5" %>
    </div>
  </div>

  <% @list.bookmarks.each do |bookmark| %>
      <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.rating, class: "mt-5"%>

      <h3 class="text-primary fw-bold"><%= bookmark.movie.title %><h3>
      <p><%= bookmark.movie.overview %></p>
      <p><span class="fw-bold">Rating:</span> <%= bookmark.movie.rating %></p>
      <p><span class="fw-bold">My Comments:</span> <%= bookmark.comment %></p>

    <div class="mt-4 mb-5">
      <%= link_to list_bookmark_path(@list, bookmark), { data: {turbo_method: :delete, turbo_confirm: 'ok?' }} do %>
      <i class="fa-solid fa-trash text-danger"></i>
      <% end %>
    </div>
  <% end %>

</div>
